{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "JabberFire API",
    "description": "This is the API for the JabberFire IT asset tracking system.",
    "contact": {
      "name": "CCMA IT Department",
      "url": "http://ccmh.com/some-path-to-it-information",
      "email": "dee@ccmh.com"
    }
  },
  "host": "aw3so.me",
  "basePath": "/api",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": [
          "users"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "description": "Gets a list of `User` objects.\n",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "title": "ArrayOfUsers",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "employee_id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "roles": {
                    "title": "ids",
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "summary": "Create a user.",
        "description": "Creates a new user",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "title": "Response",
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/token": {
      "post": {
        "tags": [
          "authorization"
        ],
        "summary": "Get an authorization token",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "schema": {
                "$ref": "#/definitions/Credentials"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of users"
          }
        }
      }
    },
    "/accessRequests": {
      "post": {
        "tags": [
          "authorization"
        ],
        "summary": "Send an access request.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Access request created."
          },
          "400": {
            "description": "Server did not understand the request."
          },
          "409": {
            "description": "User already exists."
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Credentials": {
      "properties": {
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "AccessRequest": {
      "properties": {
        "accessRequest": {
          "type": "object",
          "properties": {
            "firstname": {
              "type": "string"
            },
            "lastname": {
              "type": "string"
            },
            "email": {
              "type": "string"
            },
            "employee_id": {
              "type": "string"
            },
            "password": {
              "type": "string"
            }
          }
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "firstname":  {
          "type": "string"
        },
        "lastname":  {
          "type": "string"
        },
        "email":  {
          "type": "string"
        },
        "employee_id":  {
          "type": "string"
        },
        "password":  {
          "type": "string"
        },
        "roles":  {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "departments":  {
          "type": "array",
          "items": {
            "type": "integer"
          }
        }
      }
    }
  }
}